html, body, .container {
  height: 100%; }

body {
  background-color: #333333; }

.container {
  max-width: 960px;
  background-color: #dddddd;
  margin: auto; }
  .container div#title {
    width: 480px;
    margin: auto;
    padding-top: 75px;
    text-align: center; }
    .container div#title h1 {
      font-family: 'Yellowtail', Helvetica, Arial, sans-serif; }
  .container div#content {
    width: inherit;
    padding-top: 25px;
    text-align: center; }
    .container div#content p {
      font-family: Helvetica, Arial, sans-serif; }
