html, body, .container {
  height: 100%; }

body {
  background-color: #333333; }

.container {
  max-width: 960px;
  background-color: #dddddd;
  margin: auto; }
  .container div#title {
    max-width: 940px;
    margin: auto;
    padding-top: 25px;
    text-align: center; }
    .container div#title h1 {
      font-family: "Diplomata", Helvetica, Arial, sans-serif; }
