$bg-color: #333;
$container-color: #DDD;

html, body, .container {
    height: 100%;
}

body {
    background-color: $bg-color;
}

.container {
    max-width: 960px;
    background-color: $container-color;
    margin: auto;

    div#title {
        width: 480px;
        margin: auto;
        padding-top: 75px;
        text-align: center;

        h1 {
            font-family: 'Yellowtail', Helvetica, Arial, sans-serif;
        }
    }

    div#content {
        width: inherit;
        padding-top: 25px;
        text-align: center;

        p {
            font-family: Helvetica, Arial, sans-serif;
        }
    }
}