$bg-color: #333;
$container-color: #DDD;

html, body, .container {
    height: 100%;
}

body {
    background-color: $bg-color;
}

.container {
    max-width: 960px;
    background-color: $container-color;
    margin: auto;

    div#title {
        max-width: 940px;
        margin: auto;
        padding-top: 25px;
        text-align: center;

        h1 {
            font-family: "Diplomata", Helvetica, Arial, sans-serif;
        }
    }
}